<nav class="navbar">
  <button class="sidebar-toggle">
    <i class="fa fa-bars"></i>
  </button>
  <div class="nav-brand">
    <h1>Dashboard</h1>
  </div>
  <div class="nav-user">
    <ul class="nav">
      <li class="dropdown">
        <img class="user-img" src="http://placekitten.com/40/40">
        User
      </li>
      <li><i class="fa fa-bell"></i></li>
    </ul>
  </div>
</nav>
