<!doctype html>
<html>
  <head>
    <title>Login</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400" rel="stylesheet">
    <link rel="stylesheet" href="/public/admin.css">
  </head>
  <body>
    <div class="login-wrapper">
      <div class="login-sidebar">
        <div class="login-sidebar-inner">
          <h1>Login</h1>
          <form>
            <div class="input-group">
              <div class="material-input">
                <input type="text" placeholder="Username">
                <span></span>
              </div>
            </div>
            <div class="input-group">
              <div class="material-input">
                <input type="password" placeholder="Password">
                <span></span>
              </div>
            </div>
            <div class="input-group">
              <button class="btn btn-lg btn-block" type="submit">Login</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
